 .page-subtitle {
  font-size: 14.5px;
  font-weight: 500;
  color: #c9c8c8;

  max-width: 200px;
  height: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
 

 .page-title1 {
  font-size: 19px; 
  font-weight: 650;
  color: #6DA7D6;

  line-height: 1.3;
  text-align: center;
  margin-bottom: 20px;
}
 .page-title2 {
  font-size: 17px; 
  font-weight: 500;
  color: #6DA7D6;

  line-height: 1.3;
  text-align: center;
  margin-top:10px;
  margin-bottom: 20px;
}


.main-image {
 width: 100%;
 max-width: 220px;
 height: auto;

 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
}


.btn-blue{
  font-size: 17px; 
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;

  width: 100%;
  max-width: 200px;
  height: 40px;
  background-color: #8abce6;
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  cursor: pointer;
  transition: 0.5s;
}
